 <div class="create-notes-container">
            <h2>List item</h2>
            <div class="form-container">
                <form action="/" method="POST">
                  <button class="add-button" type="submit" value="noteForm" name="formType"><i class="fas fa-plus"></i></button>
                  <input name="title" type="text" placeholder="Title"/>
                  <textarea name="content" type="text" placeholder="Content" rows="3"></textarea>
                </form>
            </div>
        </div>
