<div class="create-timer-container">
    <h2>Timing item</h2>
    <div class="form-container">
        <form action="/" method="POST">
          <input name="title" type="text" placeholder="What?"/>
          <input name="time" type="text" placeholder="For how long?"/>
          <button type="submit" value="timerForm" name="formType" id="timerButton"><i class="fas fa-plus"></i></button>
        </form>
    </div>
</div>
