<div class="create-timer-container">
    <h2>Timing item</h2>
    <div class="form-container">
        <form action="/" method="POST">
          <button type="submit" value="timerForm" name="formType" id="timerButton" class="timer-button--position"><i class="fas fa-plus timer"></i></button>
          <input name="title" type="text" placeholder="What?"/>
          
          <div class="form-time">
            <input name="hours" type="text" placeholder="hours?" class="time-input"/>
            <input name="minutes" type="text" placeholder="minutes?" class="time-input"/>
            <input name="seconds" type="text" placeholder="seconds?" class="time-input" maxlength="2"/>
          </div>
          
        </form>
    </div>
</div>
