*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 239, 232);
}

h1{
    font-family: 'Comfortaa', cursive; 
    font-weight: 500;
    color: white;
    font-size: 2.5rem; 
    margin-left: 35px;
}


h2{
    color: rgb(83, 70, 70);
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

h3{
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    color:  rgb(49, 49, 44);  
    
}

/* header section */
header{
    width: 100%;
    height: 75px;
    background-color: rgb(114, 218, 204);
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 3px rgba(145, 145, 145, 0.562);   
}


.fa-stopwatch{
    font-size: 1.7rem;
}
/* body Section */




/* form section */
.form-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;    
}

form{
    width: 400px;
    
}
form input, form textarea{
    width: 100%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
    box-shadow: 0px 3px 3px rgba(145, 145, 145, 0.404); 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.1rem;
    resize: none;
}

.form-container button{
    background-color: rgb(114, 218, 204);
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 8px 16px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    margin-left: -20px;
    margin-top: -33px;
    color: white;
    box-shadow: 0px 2px 3px rgba(145, 145, 145, 0.404);    
}

/* body */
.notes-header{
    display: flex;
    justify-content: center;
}

a{
    color: rgb(83, 70, 70);
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    font-size: 1.3rem;
    text-align: center;
    margin: 30px 20px 10px 20px;
}
.container{
    
}
.body-container{
    display: flex; 
    width: 80%;
    margin: 50px auto 50px auto; 
    justify-content: space-between;   
    
}


.create-notes-container{
    margin-top: 30px;
}

.create-timer-container{
    margin-top: 50px;
}

/* notes */

.notes-container{
    width: 70%;
    margin-left: 70px;
    min-height: 60vh; 
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px rgba(145, 145, 145, 0.404); 
}
.notes-section{
  
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.notes-header{
    display: flex;
}

.note{
    margin: 30px 10px;
    width:250px;
    height: 250px;
    background-image: url(/img/post-it.svg);
    background-repeat: none;
    background-size: cover;
}
.note h3{
    width: 70%;
    margin: 40px auto 0 auto;
    line-height: 1.2;
    text-align: center;
   
}
.note p{
    margin: 30px auto 0 auto;

    width: 87%;
    
    font-size: 1.1rem;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: rgb(129, 127, 127);

}

.red{
    color: red;
}

.timer-items{
    margin: 30px 10px;
    border-left: solid 20px #e2e1dc ;
    width: 400px;
    height: 100px;
    background-color: rgb(240, 239, 232);
    border-radius: 7px 4px 7px 7px ;
    box-shadow: 0px 4px 6px rgba(126, 126, 126, 0.404); 

}
.timer-items-content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timer-items p, .timer-items h3{
    margin: 0 10px;
    color: rgb(129, 127, 127);

}
.notes-section button{
    background-color: #e2e1dc;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 6px 10px;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    color: white;
    box-shadow: 0px 2px 3px rgba(145, 145, 145, 0.404);   
}


.timer-items button{
   
    margin-left: 170px;
    margin-top: -17px;
     
}

.note-items button{
   
    margin-left: 110px;
    margin-top: 98px;
    
}



















































